{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'section-social-account-links.css' | asset_url | stylesheet_tag }}

{%- style -%}
{%- endstyle -%}

<slider-component class="page-width page-width-desktop social-account-links">
  <div class="link">
    <a href="https://google.co.jp">
      <img src="https://cdn.shopify.com/s/files/1/0621/4362/7441/files/instagram_account_gray.png?v=1657403886" alt="">
    </a>
  </div>
  <div class="link">
    <a href="https://yahoo.co.jp">
      <img src="https://cdn.shopify.com/s/files/1/0621/4362/7441/files/line_account_gray.png?v=1657403886" alt="">
    </a>
  </div>
</slider-component>

{% schema %}
{
  "name": "ソーシャルアカウントリンクブロック",
  "class": "section",
  "settings": [
  ],
  "presets": [
    {
    "name": "ソーシャルアカウントリンク",
    "blocks": []
    }
  ]
}
{% endschema %}
